/* SVG SHIT */
.st0{fill:none;stroke:#FF36B3;stroke-miterlimit:10;}
.st1{fill:#FF36B3;stroke:#FF36B3;stroke-miterlimit:10;}

* {
  box-sizing: border-box;
}

p {
  font-size: 2rem;
  font-family: 'Concert One', cursive;
}

@media only screen and (max-width: 767px) {
    p {
      font-size: 1rem;
    }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

#cube {
  width: 500px; /* can change */
  height: 500px; /* can change */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.face {
  opacity: 0.2;
}

.show-front #front.face,
.show-right #right.face,
.show-back #back.face,
.show-left #left.face,
.show-top #top.face,
.show-bottom #bottom.face {
  opacity: 1;
}

svg {
  position: absolute;
  width: 500px;
  height: 500px;
}

svg#front  { transform: rotateY(  0deg) translateZ(100px); }
svg#right  { transform: rotateY( 90deg) translateZ(100px); }
svg#back   { transform: rotateY(180deg) translateZ(100px); }
svg#left   { transform: rotateY(-90deg) translateZ(100px); }
svg#top    { transform: rotateX( 90deg) translateZ(100px); }
svg#bottom { transform: rotateX(-90deg) translateZ(100px); }

#cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
#cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
#cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
#cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
#cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
#cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

@media only screen and (max-width: 767px) {
  .wrapper {
    zoom: 0.7;
  }

  body {
    height: 80vh;
  }
}

aside,
aside.right {
  position: absolute;
  right: 10vw;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1443ff;
}

aside.left {
  left: 10vw;
  right: auto;
  color: #14ffbc;
}

aside p,
aside.right p {
  text-align: center;
  letter-spacing: 2px;
  transform: rotate(-90deg);
}

aside.left p {
  transform: rotate(90deg);
}

@media only screen and (max-width: 767px) {
  aside.left,
  aside.right {
    display: none;
  }
}
