/* SVG SHIT */
.st0 {
  fill: none;
  stroke: #FF36B3;
  stroke-miterlimit: 10;
}

.st1 {
  fill: #FF36B3;
  stroke: #FF36B3;
  stroke-miterlimit: 10;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 2rem;
  font-family: 'Concert One', cursive;
  cursor: crosshair;
}

@media only screen and (max-width: 767px) {
    p {
      font-size: 2rem;
    }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

#cube {
  width: 500px; /* can change */
  height: 500px; /* can change */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.show-front #front,
.show-right #right,
.show-back #back,
.show-left #left,
.show-top #top,
.show-bottom #bottom {
  opacity: 1;
}

svg {
  position: absolute;
  width: 500px;
  height: 500px;
  opacity: 0.2;
}

svg#front  { transform: rotateY(  0deg) translateZ(100px); }
svg#right  { transform: rotateY( 90deg) translateZ(100px); }
svg#back   { transform: rotateY(180deg) translateZ(100px); }
svg#left   { transform: rotateY(-90deg) translateZ(100px); }
svg#top    { transform: rotateX( 90deg) translateZ(100px); }
svg#bottom { transform: rotateX(-90deg) translateZ(100px); }

#cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
#cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
#cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
#cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
#cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
#cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

@media only screen and (max-width: 767px) {
  .wrapper {
    zoom: 0.7;
  }

  body {
    height: 80vh;
  }
}

aside {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1443ff;
}

aside.left {
  left: 10vw;
  right: auto;
  color: #14ffbc;
}

aside.center {
  height: 95vh;
  color: #ffc444;
  display: flex;
  align-items: flex-end;
  display: none;
}

aside.right {
  right: 10vw;
}

aside p {
  text-align: center;
  letter-spacing: 2px;
  transform: rotate(-90deg);
}

aside.center p {
  transform: rotate(0);
}

aside.left p {
  transform: rotate(90deg);
}

@media only screen and (max-width: 767px) {
  aside.left,
  aside.center,
  aside.right {
    position: absolute;
    height: auto;
    bottom: 20vh;
    display: flex;
    align-items: flex-end;
  }

  aside.left p,
  aside.center p,
  aside.right p {
    transform: rotate(0);
  }
}
